---
import AboutNav from "../../components/about/AboutNav.astro";
import CfpNav from "../../components/cfp/CfpNav.astro";
import CfpNavItem from "../../components/cfp/CfpNavItem.astro";
import Footer from "../../components/Footer.astro";
import Crumb from "../../components/header/Crumb.astro";
import HeaderBreadcrumbs from "../../components/header/HeaderBreadcrumbs.astro";
import PageHeader from "../../components/header/PageHeader.astro";
import PageHeaderTitle from "../../components/header/PageHeaderTitle.astro";
import TypographyLink from "../../components/typography/TypographyLink.astro";
import Base from "../../layouts/Base.astro";
---

<Base title="The Conference">
  <PageHeader dark={true} starColour="violet">
    <HeaderBreadcrumbs colour="lemon">
      <Crumb href="/cfp/">Call for Proposals</Crumb>
    </HeaderBreadcrumbs>
    <PageHeaderTitle textColour="lemon">
      <h1>Specialist Tracks</h1>
    </PageHeaderTitle>
  </PageHeader>

  <section>
    <div class="header-divider header-divider--lemon"></div>

    <div class="bg-stone py-20">
      <div class="container">
        <div class="lg:w-[85%] w-full mx-auto">
          <div
            class="flex flex-col lg:flex-row justify-between items-start gap-14"
          >
            <div class="lg:w-[80%] w-full rich-text">
              <p>
                Specialist Track Lipsum
              
            </div>

            <CfpNav />
          </div>
        </div>
      </div>
    </div>
  </section>

  {
    /*
  <section class="bg-lime pt-20">
    <div class="container">
      <div class="grid lg:grid-cols-2 grid-cols-1 gap-5 pb-20">
        <a href="#" class="btn-arrow btn-arrow--emerald btn-arrow--2col"
          ><span>Call to Action Link</span></a
        >
        <a href="#" class="btn-arrow btn-arrow--emerald btn-arrow--2col"
          ><span>Call to Action Link</span></a
        >
      </div>
    </div>
  </section>
  */
  }

  <Footer />

  <!-- Main scripts (will be added in Phase 5) -->
  <script src="/src/scripts/animations.js"></script>
</Base>
